# Dependencias
node_modules/

# Build / Output
dist/

.astro/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno (Seguridad)
.env
.env.production
.env.local

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db